<h1>Tool</h1>
<div>
  <div>
    <strong>Tool Name:</strong>
    <%= tool.name %>
  </div>

  <strong>Users:</strong>
  <% tool.users.each do |user| %>
    <%= link_to user, style: "text-decoration:none" do %>
      <span><%= user.full_name %></span>
    <% end %>
  <% end %>
</div>