<h1>User</h1>

<div>
  <div>
    <strong>Full Name:</strong>
    <%= user.full_name %>
  </div>

  <strong>Tools:</strong>
  <% user.tools.each do |tool| %>
    <%= link_to tool, style: "text-decoration:none" do %>
      <span><%= tool.name %></span>
    <% end %>
  <% end %>
</div>