<h1>User: <%= user.full_name %></h1>

<div>
  <strong>Tools:</strong>
  <% user.tools.each do |tool| %>
    <%= link_to tool, style: "text-decoration:none" do %>
      <span><%= tool.name %></span>
    <% end %>
  <% end %>
</div>