<h1>Category</h1>
<div>
  <p>
    <strong>Category Name:</strong>
    <%= category.name %>
  </p>

  <strong>Categories:</strong>
    <% category.tools.each do |tool| %>
      <%= link_to tool, style: "text-decoration:none" do %>
        <span><%= tool.name %></span>
      <% end %>
    <% end %>
</div>