<h1>Category: <%= category.name %></h1>
<div>
  <strong>Associated Tools:</strong>
  <% category.tools.each do |tool| %>
    <%= link_to tool, style: "text-decoration:none" do %>
      <span><%= tool.name %></span>
    <% end %>
  <% end %>
</div>